// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');
$font1: 'Fira Sans Condensed', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;
