// Fonts
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
$font1: 'Recursive', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;

.book-card {
  position: relative;
  height: 550px;
  background: none;
  margin-bottom: 20px;

  .inner-card {
    position: relative;
    height: 100%;
    width: 100%;
    background: #e6ccb2;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466);
    transition: 0.6s;
    &:hover {
      box-shadow: 0px 20px 15px rgba(0, 0, 0, 0.719);
    }
  }
  .top-info {
    position: relative;
    height: 55%;
    background: #7f5539;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .edit-button {
      position: absolute;
      z-index: 5;
      color: white;
      right: 0px;
      top: 0px;
      height: 40px;
      width: 30px;
      border-top-right-radius: 20px;
    }
    .blank {
      display: none;
    }
    .edit-container {
      position: absolute;
      height: 100%;
      width: 100%;
      right: 0px;
      top: 0px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      z-index: 4;
      padding: 10px 0px;
      background: #7f5539;
      display: flex;
      flex-direction: row;
      justify-content: center;
      h3 {
        position: absolute;
        font-family: $font2;
        color: #e6ccb2;
        top: -9%;
        text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.555);
      }
      .update-form {
        position: relative;
        height: 100%;
        width: 100%;
        top: 0%;
        padding: 10px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .update-title {
          position: relative;
          text-align: center;
          color: #e6ccb2;
          font-family: $font1;
        }
        .input {
          position: relative;
          width: 50%;
          border: none;
          background: #b08868;
          border-radius: 20px;
          margin-bottom: 10px;
          margin-top: -10px;
          padding-left: 10px;
          color: #e6ccb2;
          &:focus {
            outline: none;
          }
        }
        .update-button {
          position: relative;
          width: 50%;
          height: 30px;
          border: none;
          border-radius: 20px;
          margin-top: 10px;
          background: #e6ccb2;
          color: #7f5539;
          font-family: $font2;
          font-size: 20px;
          transition: 0.6s;
          &:hover {
            background: #3b2719;
            color: #e6ccb2;
          }
        }
      }
    }
    h4 {
      position: absolute;
      bottom: 10%;
      left: 20px;
      color: white;
      text-shadow: 0px 2px 10px rgb(0, 0, 0);
      z-index: 2;
      font-family: $font2;
      font-size: 25 px;
    }
    .post-image {
      position: absolute;
      height: 100%;
      width: 100%;
      filter: brightness(80%);
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      transition: 0.6s;
      &:hover {
        filter: brightness(100%);
      }
    }
  }
  .bottom-info {
    position: relative;
    height: 45%;
    display: flex;
    flex-direction: column;
    h3 {
      position: relative;
      top: 5%;
      left: 20px;
      font-family: $font2;
    }
    .pagecount-p {
      position: relative;
      top: 10%;
      left: 20px;
    }
    .date-added {
      position: absolute;
      bottom: 0;
      left: 20px;
      font-size: 10px;
    }
    .button-container {
      position: absolute;
      bottom: 0%;
      right: 0px;
      background: none;
      width: 120px;
      height: 100px;
      display: flex;
      flex-direction: row;
      .done-button {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 50%;
        width: 50%;
      }
      .delete-button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 50%;
        width: 50%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
    .blank-delete {
      display: none;
    }
    .done-reading-cont {
      position: absolute;
      height: 60px;
      left: 2.5%;
      width: 95%;
      border-radius: 20px;
      background: #7f5539;
      bottom: 0px;
      display: flex;
      flex-direction: row;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.568);
      z-index: 5;
      p {
        height: 100%;
        width: 50%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #e6ccb2;
        font-family: $font2;
      }
      .delete-buttons {
        position: relative;
        height: 100%;
        width: 50%;
        flex-direction: row;
        background: none;
        .no-btn,
        .yes-btn {
          position: relative;
          height: 100%;
          width: 50%;
          font-family: $font2;
          font-size: 15px;
          color: #e6ccb2;
          background: none;
          transition: 0.5s;
          &:hover {
            color: #b08868;
          }
        }
      }
    }
    .delete-book-container {
      position: absolute;
      height: 60px;
      left: 2.5%;
      width: 95%;
      border-radius: 20px;
      background: #7f5539;
      bottom: 0px;
      display: flex;
      flex-direction: row;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.568);
      z-index: 4;
      p {
        height: 100%;
        width: 50%;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #e6ccb2;
        font-family: $font2;
      }
      .delete-buttons {
        position: relative;
        height: 100%;
        width: 50%;
        flex-direction: row;
        background: none;
        .no-btn,
        .yes-btn {
          position: relative;
          height: 100%;
          width: 50%;
          font-family: $font2;
          font-size: 15px;
          color: #e6ccb2;
          transition: 0.5s;
          &:hover {
            color: #b08868;
          }
        }
      }
    }
  }
}
