// Fonts
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
$font1: 'Recursive', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;

.book-card {
  position: relative;
  height: 550px;
  background: none;
  margin-bottom: 20px;
  .inner-card {
    position: relative;
    height: 100%;
    width: 100%;
    background: #e6ccb2;
    border-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.466);
  }
  .top-info {
    position: relative;
    height: 55%;
    background: #7f5539;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    .edit-button {
      position: absolute;
      z-index: 5;
      color: white;
      right: 0px;
      top: 0px;
      height: 40px;
      width: 30px;
      border-top-right-radius: 20px;
    }
    .blank {
      display: none;
    }
    .edit-container {
      position: absolute;
      height: 300px;
      width: 250px;
      right: 0px;
      top: 30px;
      border-radius: 10px;
      z-index: 4;
      box-shadow: 0px 5px 20px black;
      background: #b08868;
      box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.637);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
    h4 {
      position: absolute;
      bottom: 10%;
      left: 20px;
      color: white;
      text-shadow: 0px 2px 10px rgb(0, 0, 0);
      z-index: 2;
      font-family: $font2;
      font-size: 25 px;
    }
    .post-image {
      position: absolute;
      height: 100%;
      width: 100%;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
  .bottom-info {
    position: relative;
    height: 45%;
    h3 {
      position: relative;
      top: 5%;
      left: 20px;
      font-family: $font2;
    }
    .pagecount-p {
      position: relative;
      top: 10%;
      left: 20px;
    }
    .date-added {
      position: absolute;
      bottom: 0;
      left: 20px;
      font-size: 10px;
    }
    .button-container {
      position: absolute;
      bottom: 0%;
      right: 0px;
      background: none;
      width: 120px;
      height: 100px;
      display: flex;
      flex-direction: row;
      .done-button {
        position: absolute;
        bottom: 0px;
        left: 0px;
        height: 50%;
        width: 50%;
      }
      .delete-button {
        position: absolute;
        bottom: 0px;
        right: 0px;
        height: 50%;
        width: 50%;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 0px;
      }
    }
  }
}
