// Fonts
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
$font1: 'Recursive', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;

.booklist-cont {
  position: relative;
  height: 100%;
  width: 90%;
  background: none;
  overflow-x: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  .booklist {
    position: relative;
    height: 150px;
    width: 100%;
    background: #d1a880;
    border: 3px solid #7f5539;
    border-radius: 20px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    flex-direction: row;
    transition: 0.5s;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0px 5px 10px black;
    }
    .img {
      position: relative;
      height: 100px;
      margin: 5px 0px;
      left: 0;
      width: 100px;
      border-radius: 50%;
      border: 4px solid #7f5539;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
    }
    .title-header {
      position: relative;
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font2;
      font-size: 20px;
      color: black;
      background: none;
      overflow-y: auto;
    }
    .author-p {
      position: relative;
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font2;
      font-size: 20px;
      color: black;
      background: none;
      overflow-y: auto;
    }
    .pg-count {
      position: relative;
      height: 100%;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $font2;
      font-size: 20px;
      color: black;
      background: none;
      overflow-y: auto;
    }
    .add-book {
      position: absolute;
      height: 100%;
      padding-right: 20px;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: none;
      p {
        color: black;
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
        font-family: $font2;
      }
      .check-mark {
        color: #442d1e;
        transition: 0.5s;
        &:hover {
          color: #1d130d;
          cursor: pointer;
          animation: upandshake 1s infinite ease-in-out;
        }
      }
    }
  }
}
