@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Marvel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
.main-container {
  position: relative;
  background: #ede0d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  .main-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 100%;
    overflow-y: visible;
    padding: 0px 0px;
    margin: 0px 0px;
  }
}

.main-container .currently-reading-h1 {
  position: absolute;
  top: 6%;
  text-align: center;
  width: 100%;
  z-index: 10;
  font-family: "Lobster", cursive;
  font-size: 80px;
  color: #492710;
  text-shadow: 5px 10px 10px rgba(0, 0, 0, 0.185);
}

@media screen and (max-width: 1200px) {
  .main-container .currently-reading-h1 {
    font-size: 65px;
    top: 7%;
  }
}

@media screen and (max-width: 450px) {
  .main-container .currently-reading-h1 {
    font-size: 50px;
    top: 8%;
  }
}

@media screen and (max-width: 300px) {
  .main-container .currently-reading-h1 {
    font-size: 40px;
    top: 8%;
  }
}

.main-container .empty {
  display: none;
}

.main-container .added-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  padding: 0px 0px;
  left: 0px;
  z-index: 2000;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-container .added-modal .added-inner-modal {
  position: relative;
  height: 320px;
  width: 500px;
  background: #7f5539;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.521);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.521);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 530px) {
  .main-container .added-modal .added-inner-modal {
    width: 350px;
  }
}

.main-container .added-modal .added-inner-modal .success-img {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -45%;
}

.main-container .added-modal .added-inner-modal .successful-h1 {
  position: relative;
  font-family: "Lobster", cursive;
  color: #e6ccb2;
  top: -0px;
  padding: 20px 0px;
  text-shadow: 0px 12px 20px rgba(0, 0, 0, 0.473);
}

@media screen and (max-width: 1070px) {
  .main-container .added-modal .added-inner-modal .successful-h1 {
    font-size: 30px;
  }
}

.main-container .added-modal .added-inner-modal .successful-p {
  position: relative;
  font-family: "Marvel", sans-serif;
  color: #e6ccb2;
  font-size: 20px;
  width: 60%;
  height: 100px;
  text-align: center;
  top: 5%;
}

@media screen and (max-width: 1050px) {
  .main-container .added-modal .added-inner-modal .successful-p {
    width: 100%;
    padding: 0px 20px;
  }
}

.main-container .added-modal .added-inner-modal .exit-button {
  position: absolute;
  right: -10px;
  top: -10px;
  height: 35px;
  width: 35px;
  background: #e5bd95;
  border: 2px solid #7f5539;
  border-radius: 50%;
}

.main-container .added-modal .added-inner-modal .button-container {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 530px) {
  .main-container .added-modal .added-inner-modal .button-container {
    height: 200px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.main-container .added-modal .added-inner-modal .button-container .add-button {
  background: #9c6644;
  color: #e5bd95;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  margin-right: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 5px 10px;
}

@media screen and (max-width: 530px) {
  .main-container .added-modal .added-inner-modal .button-container .add-button {
    margin-right: 0px;
  }
}

.main-container .added-modal .added-inner-modal .button-container .add-button:hover {
  background: #7c4c2f;
  color: #facc9e;
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.445);
}

.main-container .added-modal .added-inner-modal .button-container .reading-button {
  background: #e5bd95;
  color: #9c6644;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.35);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-left: 10px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 530px) {
  .main-container .added-modal .added-inner-modal .button-container .reading-button {
    margin-left: 0px;
    margin-top: 10px;
  }
}

.main-container .added-modal .added-inner-modal .button-container .reading-button:hover {
  background: #facc9e;
  color: #7c4c2f;
  -webkit-box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.445);
          box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.445);
  text-decoration: none;
}

.main-container .added-modal .added-inner-modal .button-container .reading-button .link {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-container .profile-row {
  position: relative;
  width: 100%;
  height: 100vh;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row {
    position: relative;
    width: 90%;
    height: 100%;
  }
}

@media screen and (max-width: 700px) {
  .main-container .profile-row {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.main-container .profile-row .sidebar-container {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  background: #5a3e2d00;
  z-index: 1;
  padding-left: 0px;
  padding-right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container {
    display: none;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar {
  position: relative;
  height: 100%;
  width: 90%;
  background: #573a27;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.384);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.384);
  top: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .main-container .profile-row .sidebar-container .nav-side-bar {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .main-container .profile-row .sidebar-container .nav-side-bar {
    border-radius: 20px;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar .home-link {
  position: relative;
  width: 100%;
  height: 50px;
  left: 0%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container .nav-side-bar .home-link {
    width: 100px;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar .home-link .home-icon {
  color: #e6ccb2;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  top: -130px;
  font-size: 50px;
}

.main-container .profile-row .sidebar-container .nav-side-bar .home-link .home-icon:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  color: #e5bd95;
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list {
  position: relative;
  height: 50%;
  width: 100%;
  background-color: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container .nav-side-bar .nav-list {
    height: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 0px;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items {
  position: relative;
  height: 100px;
  width: 100%;
  left: 0;
  list-style-type: none;
  background-color: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items {
    width: 50%;
    top: 20%;
    height: 70px;
    margin: 0px;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area {
  position: absolute;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area {
    height: 100%;
  }
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  text-decoration: none;
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area .icons {
  color: #b08968;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 10px;
  font-size: 50px;
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area .icons:hover {
  color: #e6ccb2;
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area p {
  position: relative;
  color: #ede0d4;
  bottom: 0;
  background: none;
  font-family: "Lobster", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: 0px;
  font-size: 20px;
}

.main-container .profile-row .sidebar-container .nav-side-bar .nav-list .nav-items .link-area p:hover {
  color: #cc955e;
}

.main-container .profile-row .sidebar-container .nav-side-bar .logout-section {
  position: absolute;
  bottom: 0%;
  background-color: none;
  height: 20%;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .sidebar-container .nav-side-bar .logout-section {
    width: 100px;
    height: 100%;
    right: 0%;
    margin: 0px;
  }
}

.main-container .profile-row .profile-cont {
  position: relative;
  height: 100%;
  width: 90%;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .profile-cont {
    width: 100%;
  }
}

.main-container .profile-row .profile-cont .search-bar {
  position: relative;
  width: 70%;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 100px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #b08968;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
}

@media screen and (max-width: 1500px) {
  .main-container .profile-row .profile-cont .search-bar {
    width: 90%;
    left: 0px;
  }
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .profile-cont .search-bar {
    width: 100%;
    top: 6%;
    border-radius: 30px;
    z-index: 20;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    right: 0px;
  }
}

@media screen and (max-width: 830px) {
  .main-container .profile-row .profile-cont .search-bar {
    padding: 50px 0px;
    padding-left: 0px;
    top: 0px;
    height: 100px;
  }
}

.main-container .profile-row .profile-cont .search-bar h1 {
  font-family: "Lobster", cursive;
  color: #f7ece1;
  height: 100%;
  margin-right: 50px;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1105px) {
  .main-container .profile-row .profile-cont .search-bar h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 830px) {
  .main-container .profile-row .profile-cont .search-bar h1 {
    font-size: 25px;
    position: absolute;
    top: -35%;
    text-shadow: 0px 5px 10px rgba(0, 0, 0, 0.514);
  }
}

@media screen and (max-width: 610px) {
  .main-container .profile-row .profile-cont .search-bar h1 {
    font-size: 25px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }
}

.main-container .profile-row .profile-cont .search-bar .search-cont {
  position: relative;
  right: 2%;
}

@media screen and (max-width: 700px) {
  .main-container .profile-row .profile-cont .search-bar .search-cont {
    left: 0px;
  }
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search {
  border-radius: 10px;
  border: 2px solid #e6ccb2;
  background: #503624;
  margin: 0px 10px;
  text-align: center;
  width: 300px;
  font-family: "Lobster", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: white;
}

@media screen and (max-width: 1105px) {
  .main-container .profile-row .profile-cont .search-bar .search-cont .book-search {
    width: 150px;
    right: 0px;
  }
}

@media screen and (max-width: 1700px) {
  .main-container .profile-row .profile-cont .search-bar .search-cont .book-search {
    width: 200px;
  }
}

@media screen and (max-width: 700px) {
  .main-container .profile-row .profile-cont .search-bar .search-cont .book-search {
    width: 350px;
  }
}

@media screen and (max-width: 400px) {
  .main-container .profile-row .profile-cont .search-bar .search-cont .book-search {
    width: 260px;
  }
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search:focus {
  outline: none;
  color: white;
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search::-webkit-input-placeholder {
  color: white;
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search:-ms-input-placeholder {
  color: white;
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search::-ms-input-placeholder {
  color: white;
}

.main-container .profile-row .profile-cont .search-bar .search-cont .book-search::placeholder {
  color: white;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt {
  position: absolute;
  right: 10%;
  height: 100%;
  width: 300px;
  background: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt {
    width: 150px;
    right: 0px;
    position: relative;
  }
}

@media screen and (max-width: 400px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt {
    width: 50%;
    right: 0px;
  }
}

@media screen and (max-width: 700px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt {
    display: none;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50%;
  border: none;
  border-radius: 20px;
  border: 3px solid #7f5539;
  background: #e6ccb2;
  color: #573a27;
  font-family: "Lobster", cursive;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button:hover {
  cursor: pointer;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button:active {
  scale: 0.98;
}

@media screen and (max-width: 1700px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button {
    width: 150px;
    right: 0%;
  }
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button {
    height: 32px;
    width: 150px;
  }
}

@media screen and (max-width: 400px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal-button {
    width: 150px;
    font-size: 15px;
    border: none;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal {
  position: fixed;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 100;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box {
  position: relative;
  height: 80%;
  top: 3%;
  width: 700px;
  background: #7f5539;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 720px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box {
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box {
    width: 95%;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .closebutton {
  position: absolute;
  top: -20px;
  right: -20px;
  border: 2px solid #492710;
  background: #e6ccb2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: black;
  z-index: 10;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .closebutton:hover {
  cursor: pointer;
  background: #9c6644;
  color: white;
}

@media screen and (max-width: 420px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .closebutton {
    right: 0px;
    top: 0px;
    border: none;
    background: none;
    color: white;
    font-size: 25px;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 720px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form {
    width: 100%;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .main-header {
  position: relative;
  height: 100px;
  top: 0%;
  text-align: center;
  width: 100%;
  background: none;
  color: #ede0d4;
  font-size: 50px;
  text-shadow: 0px 5px 15px #442d1e;
}

@media screen and (max-width: 850px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .main-header {
    font-size: 40px;
    top: 0%;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .file-base-cnt {
  position: relative;
  height: 100px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .label-cnt {
  position: relative;
  background: none;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e5bd95;
  font-family: "Lobster", cursive;
  font-size: 30px;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .label-cnt .input {
  position: relative;
  height: 30px;
  width: 300px;
  font-family: sans-serif;
  border: none;
  border-radius: 20px;
  padding-left: 20px;
  background: #e6ccb2;
  color: #1d130d;
  font-size: 15px;
  overflow-x: scroll;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .label-cnt .input:focus {
  outline: none;
}

@media screen and (max-width: 720px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .label-cnt .input {
    width: 70%;
  }
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .submit-button {
  position: relative;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 300px;
  height: 50px;
  margin-top: 20px;
  border: none;
  border-radius: 30px;
  background: #492710;
  color: #e6ccb2;
  font-family: "Recursive", sans-serif;
  font-size: 30px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .submit-button:hover {
  background: #e6ccb2;
  color: #492710;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@media screen and (max-width: 720px) {
  .main-container .profile-row .profile-cont .search-bar .modal-btn-cnt .modal .modal-box .form .submit-button {
    width: 70%;
  }
}

.main-container .profile-row .reading-container {
  position: relative;
  height: 90vh;
  width: 90%;
  top: 10%;
  border-radius: 20px;
  padding: 50px 20px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: none;
  overflow-x: hidden;
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .reading-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    top: 7%;
    padding: 20px 20px;
    padding-bottom: 0px;
    padding-left: 20px;
    height: 85%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .main-container .profile-row .reading-container {
    padding-top: 100px;
  }
}

.main-container .profile-row .blank-reading-container {
  position: relative;
  height: 80vh;
  width: 90%;
  top: 3%;
  border-radius: 20px;
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #b08968;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.411);
}

@media screen and (max-width: 1200px) {
  .main-container .profile-row .blank-reading-container {
    width: 100%;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.main-container .profile-row .blank-reading-container p {
  color: #e6ccb2;
  font-size: 40px;
  font-family: "Lobster", cursive;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
}

@media screen and (max-width: 600px) {
  .main-container .profile-row .blank-reading-container p {
    font-size: 35px;
    text-align: center;
  }
}

.main-container .profile-row .blank-reading-container .link-to-add {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  width: 200px;
  color: #e6ccb2;
  font-family: "Lobster", cursive;
  font-size: 20px;
  border: 2px solid #e6ccb2;
  border-radius: 20px;
  background: #7f5539;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.199);
}

.main-container .profile-row .blank-reading-container .link-to-add:hover {
  text-decoration: none;
  color: #7f5539;
  background: #e6ccb2;
  border: 2px solid #7f5539;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
  -webkit-box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.349);
          box-shadow: 0px 15px 10px rgba(0, 0, 0, 0.349);
}

@-webkit-keyframes upandshake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes upandshake {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=profile.css.map */