@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&family=Marvel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marvel&display=swap");
.form-cont-main {
  position: relative;
  height: 100vh;
  background: #362316;
}

.form-cont-main .form-container {
  position: relative;
  width: 50%;
  height: 100%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-cont-main .form-container .form {
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: hidden;
}

.form-cont-main .form-container .form h1 {
  position: relative;
  text-align: center;
  color: #ede0d4;
  font-family: "Lobster", cursive;
  font-size: 55px;
  text-shadow: 0px 15px 20px rgba(0, 0, 0, 0.582);
}

.form-cont-main .form-container .form .signup-signin {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: none;
}

.form-cont-main .form-container .form .signup-signin p {
  color: #ede0d4;
  font-family: "Marvel", sans-serif;
  text-align: center;
  margin: 10px 3px;
  font-size: 20px;
}

.form-cont-main .form-container .form .signup-signin .sign-p {
  color: #ddb892;
}

.form-cont-main .form-container .form .signup-signin .sign-p:hover {
  cursor: pointer;
}

.form-cont-main .form-container .form .or {
  color: #ede0d4;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 30px;
}

.form-cont-main .form-container .form .input-row {
  position: relative;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-cont-main .form-container .form .input-row .input-column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 10px;
}

.form-cont-main .form-container .form .input-row .input-column .input {
  position: relative;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 35px;
  padding-left: 20px;
  background: #e6ccb2;
  color: #362316;
  -webkit-box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.582);
          box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.582);
}

.form-cont-main .form-container .form .input-row .input-column .input::-webkit-input-placeholder {
  color: #362316;
}

.form-cont-main .form-container .form .input-row .input-column .input:-ms-input-placeholder {
  color: #362316;
}

.form-cont-main .form-container .form .input-row .input-column .input::-ms-input-placeholder {
  color: #362316;
}

.form-cont-main .form-container .form .input-row .input-column .input::placeholder {
  color: #362316;
}

.form-cont-main .form-container .form .input-row .input-column .input:focus {
  outline: none;
}

.form-cont-main .form-container .form .input-row .input-column .show-password {
  position: absolute;
  right: 20px;
}

.form-cont-main .form-container .form .input-row .input-column .show-password:hover {
  cursor: pointer;
}

@-webkit-keyframes zoomin {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomin {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#ball1,
#ball4 {
  -webkit-animation: floatup 10s infinite;
          animation: floatup 10s infinite;
}

#ball2,
#ball5 {
  -webkit-animation: floatup 15s infinite;
          animation: floatup 15s infinite;
}

#ball3,
#ball6,
#ball7 {
  -webkit-animation: floatdown 15s infinite;
          animation: floatdown 15s infinite;
}

@-webkit-keyframes floatup {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floatup {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes floatdown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes floatdown {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=login.css.map */