@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');
$font1: 'Recursive', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Marvel&display=swap');
$font4: 'Leckerli One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
$font5: 'Marvel', sans-serif;
.form-cont-main {
  position: relative;
  height: 100vh;
  background: #362316;
  .form-container {
    position: relative;
    width: 50%;
    height: 100%;
    left: 0%;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    .form {
      height: 100%;
      width: 60%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        position: relative;
        text-align: center;
        margin-top: 20px;
        color: #ede0d4;
        font-family: $font2;
        font-size: 55px;
      }
      .signup-signin {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 30px;
        align-items: center;
        justify-content: center;
        background: none;
        p {
          color: #ede0d4;
          font-family: $font5;
          text-align: center;
          margin: 0px 3px;
        }
        .sign-p {
          color: #ddb892;
          &:hover {
            cursor: pointer;
          }
        }
      }
      .or {
        color: #ede0d4;
        font-family: $font2;
        text-align: center;
        font-size: 30px;
      }
      .input-container {
        position: relative;
        height: 300px;
        width: 100%;
        background: red;
      }
    }
  }
}

@keyframes zoomin {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

#ball1,
#ball4 {
  animation: floatup 10s infinite;
}
#ball2,
#ball5 {
  animation: floatup 15s infinite;
}
#ball3,
#ball6,
#ball7 {
  animation: floatdown 15s infinite;
}

@keyframes floatup {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes floatdown {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0px);
  }
}
