// Fonts
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Marvel&family=Merriweather:wght@300&display=swap');
$font1: 'Merriweather', serif;
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
$font2: 'Lobster', cursive;
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
$font3: 'Pacifico', cursive;
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&family=Marvel&display=swap');
$font4: 'Leckerli One', cursive;
@import url('https://fonts.googleapis.com/css2?family=Marvel&display=swap');
$font5: 'Marvel', sans-serif;

.nav-bar {
  position: fixed;
  top: 0;
  height: 70px;
  z-index: 500;
  width: 100%;
  left: 0;
  background: #b08968;
  display: flex;
  align-items: center;
  justify-content: center;

  .menu-link {
    position: absolute;
    left: 20px;
    color: #ede0d4;
    z-index: 10;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: #7f5539;
    }
  }
  .menu-link-hidden {
    display: none;
    @media screen and (max-width: 1200px) {
      position: absolute;
      display: flex;
      left: 20px;
      color: #ede0d4;
      z-index: 10;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        color: #7f5539;
      }
    }
  }
  .homepagelink {
    position: relative;
    color: #ede0d4;
    font-family: $font2;
    text-align: center;
    width: 200px;
    background-color: none;
    font-size: 30px;
    transition: 0.5s;

    &:hover {
      text-decoration: none;
      transform: translateY(-5px);
    }
  }
  .user-profile {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 200px;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    @media screen and (max-width: 600px) {
      width: 100px;
    }
    .user-img {
      position: relative;
      height: 55px;
      width: 55px;
      border: 3px solid #7f5539;
      border-radius: 50%;
      background: #ddb892;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        border: 3px solid #ddb892;
      }
    }
    .hiddenmenu {
      display: none;
    }
    .dropdownmenu {
      position: absolute;
      top: 100%;
      height: 150px;
      width: 150px;
      background: #7f5539;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.514);
      @media screen and (max-width: 600px) {
        right: 0px;
        border-bottom-right-radius: 0px;
      }
      .user-p {
        position: relative;
        padding: 20px 20px;
        text-align: center;
        font-family: $font2;
        font-size: 20px;
        top: f tif0px;
        color: #f7cba0;
      }
      .logout-button {
        position: absolute;
        bottom: 0%;
        width: 100%;
        border-radius: 0px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        color: #f7cba0;
        transition: 0.5s;
        &:hover {
          color: #ffdebe;
          background: #4e3622;
        }
        .logout-btn {
          margin-left: 5px;
        }
      }
    }
  }
  .loginlink {
    position: absolute;
    right: 20px;
    color: white;
    font-family: $font2;
    font-size: 20px;
    border: 2px solid #ede0d4;
    padding: 5px 30px;
    border-radius: 10px;
    background: #7f5539;
    transition: 0.5s;

    @media screen and (max-width: 650px) {
      right: 0px;
      font-size: 15px;
      padding: 5px 20px;
    }
    &:hover {
      text-decoration: none;
      background: #ede0d4;
      color: #7f5539;
      border: 2px solid #7f5539;
    }
  }
}

.side-menu-container,
.side-menu-closed {
  position: fixed;
  left: 0;
  top: 0;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 600;
  height: 100vh;
  background: #533826;
  box-shadow: 5px 0px 100px black;
  animation: slidein 0.5s;
  overflow-x: hidden;

  @media screen and (max-width: 1360px) {
    width: 50%;
  }
  @media screen and (max-width: 600px) {
    width: 100%;
    box-shadow: 5px 0px 100px rgba(0, 0, 0, 0);
  }

  .side-menu-parent {
    position: fixed;
    height: 100%;
    width: 2000px;
    z-index: -1;
    background: none;
    cursor: pointer;
    left: 350px;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
  .menu-h1 {
    position: absolute;
    top: 0%;
    margin: 20px 0px;
    color: #ede0d4;
    font-family: $font3;
    font-size: 60px;
    border-bottom: 2px solid #ddb892;
  }
  .close-btn {
    position: absolute;
    top: 0%;
    font-size: 30px;
    margin: 0px 20px;
    font-family: $font2;
    cursor: pointer;
    right: 0;
    z-index: 1;
    color: white;
  }
  .menu-link-1 {
    color: #ddb892;
    font-size: 30px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font2;
    width: 100%;
    background: #4b3322;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      background: #291b13;
      color: #ffdebe;
    }
  }
  .menu-logout {
    position: absolute;
    bottom: 0%;
    color: #ddb892;
    font-size: 30px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: $font2;
    width: 100%;
    background: #4b3322;
    transition: 0.5s;
    text-transform: none;
    &:hover {
      text-decoration: none;
      background: #291b13;
      color: #ffdebe;
    }
    .logout-btn {
      margin-left: 10px;
    }
  }
}

.side-menu-closed {
  position: absolute;
  left: -100%;
  transition: 1s;
  animation: slideout 1s;
}

@keyframes slidein {
  0% {
    opacity: 1;
    transform: translateX(-400px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideout {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-400px);
  }
}
